section.box-google
    header.header-search
        .header-search__wrapper
            svg.header-search-logo(height="30" width="92" viewBox="0 0 92 30" xmlns="http://www.w3.org/2000/svg")
                path(d="M38.9 15.51c0 4.26-3.32 7.39-7.4 7.39s-7.4-3.14-7.4-7.39c0-4.28 3.32-7.39 7.4-7.39s7.4 3.1 7.4 7.39zm-3.24 0c0-2.66-1.93-4.48-4.16-4.48-2.23 0-4.16 1.82-4.16 4.48 0 2.63 1.93 4.48 4.16 4.48 2.23 0 4.16-1.85 4.16-4.48z" fill="#EA4335")
                path(d="M11.96 22.98C5.63 22.98.31 17.83.31 11.5S5.63.02 11.96.02c3.5 0 5.99 1.37 7.87 3.16L17.62 5.4c-1.34-1.26-3.16-2.24-5.66-2.24-4.62 0-8.23 3.72-8.23 8.34 0 4.62 3.61 8.34 8.23 8.34 3 0 4.7-1.2 5.79-2.3.9-.9 1.49-2.2 1.74-4.17H12v-3.14h10.52c.11.56.17 1.23.17 1.96 0 2.35-.64 5.49-2.72 7.56-2.02 2.11-4.59 3.23-8.01 3.23z" fill="#4285F4")
                path(d="M54.9 15.51c0 4.26-3.32 7.39-7.4 7.39s-7.4-3.14-7.4-7.39c0-4.28 3.32-7.39 7.4-7.39s7.4 3.1 7.4 7.39zm-3.24 0c0-2.66-1.93-4.48-4.16-4.48-2.23 0-4.16 1.82-4.16 4.48 0 2.63 1.93 4.48 4.16 4.48 2.23 0 4.16-1.85 4.16-4.48z" fill="#FBBC05")
                path(d="M70 8.56v13.27c0 5.46-3.05 7.7-6.86 7.7-3.58 0-5.74-2.41-6.55-4.37l2.83-1.18c.5 1.2 1.74 2.63 3.72 2.63 2.44 0 3.78-1.51 3.78-4.34v-1.06h-.11c-.73.9-2.04 1.68-3.81 1.68-3.7 0-7-3.22-7-7.36 0-4.17 3.3-7.42 7-7.42 1.76 0 3.08.78 3.81 1.65h.11v-1.2H70zm-2.86 6.97c0-2.6-1.74-4.51-3.95-4.51-2.24 0-3.95 1.9-3.95 4.51 0 2.58 1.71 4.45 3.95 4.45 2.22.01 3.95-1.87 3.95-4.45z" fill="#4285F4")
                path(d="M75 1.17V22.9h-3V1.17h3z" fill="#34A853")
                path(d="M87.5 17.94l2.48 1.68c-.8 1.2-2.73 3.28-6.06 3.28-4.13 0-7.22-3.25-7.22-7.39 0-4.4 3.11-7.39 6.86-7.39 3.78 0 5.62 3.05 6.23 4.7l.31.85-9.71 4.08c.74 1.48 1.9 2.24 3.53 2.24s2.76-.82 3.58-2.05zm-7.63-2.66l6.5-2.74c-.36-.92-1.43-1.57-2.7-1.57-1.62 0-3.88 1.46-3.8 4.31z" fill="#EA4335")
            .header-search__search
                svg.header-search__search-svgmob(focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
                    path(d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z")
                .header-search__search-prompt
                    svg.googleShort(xmlns="http://www.w3.org/2000/svg")
                        path(fill="#4285f4" d="M23.49 12.27c0-.79-.07-1.54-.19-2.27H12v4.51h6.47c-.29 1.48-1.14 2.73-2.4 3.58v3h3.86c2.26-2.09 3.56-5.17 3.56-8.82z")
                        path(fill="#34a853" d="M12 24c3.24 0 5.95-1.08 7.93-2.91l-3.86-3c-1.08.72-2.45 1.16-4.07 1.16-3.13 0-5.78-2.11-6.73-4.96H1.29v3.09C3.26 21.3 7.31 24 12 24z")
                        path(fill="#fbbc04" d="M5.27 14.29c-.25-.72-.38-1.49-.38-2.29s.14-1.57.38-2.29V6.62H1.29C.47 8.24 0 10.06 0 12s.47 3.76 1.29 5.38l3.98-3.09z")
                        path(fill="#ea4335" d="M12 4.75c1.77 0 3.35.61 4.6 1.8l3.42-3.42C17.95 1.19 15.24 0 12 0 7.31 0 3.26 2.7 1.29 6.62l3.98 3.09c.95-2.85 3.6-4.96 6.73-4.96z")
                    p пін ап казино
                    svg.cross(focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
                        path(d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z")
                .header-search__search-types
                    img(src='img/tia.png' alt='tia')
                    svg.goxjub(focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
                        path(fill="#4285f4" d="m12 15c1.66 0 3-1.31 3-2.97v-7.02c0-1.66-1.34-3.01-3-3.01s-3 1.34-3 3.01v7.02c0 1.66 1.34 2.97 3 2.97z")
                        path(fill="#34a853" d="m11 18.08h2v3.92h-2z")
                        path(fill="#fbbc04" d="m7.05 16.87c-1.27-1.33-2.05-2.83-2.05-4.87h2c0 1.45 0.56 2.42 1.47 3.38v0.32l-1.15 1.18z")
                        path(fill="#ea4335" d="m12 16.93a4.97 5.25 0 0 1 -3.54 -1.55l-1.41 1.49c1.26 1.34 3.02 2.13 4.95 2.13 3.87 0 6.99-2.92 6.99-7h-1.99c0 2.92-2.24 4.93-5 4.93z")
                    svg.Gdd5U(focusable="false" viewBox="0 0 192 192" xmlns="http://www.w3.org/2000/svg")
                        rect(fill="none" height="192" width="192")
                        g
                            circle(fill="#34a853" cx="144.07" cy="144" r="16")
                            circle(fill="#4285f4" cx="96.07" cy="104" r="24")
                            path(fill="#ea4335" d="M24,135.2c0,18.11,14.69,32.8,32.8,32.8H96v-16l-40.1-0.1c-8.8,0-15.9-8.19-15.9-17.9v-18H24V135.2z")
                            path(fill="#fbbc04" d="M168,72.8c0-18.11-14.69-32.8-32.8-32.8H116l20,16c8.8,0,16,8.29,16,18v30h16V72.8z")
                            path(fill="#4285f4" d="M112,24l-32,0L68,40H56.8C38.69,40,24,54.69,24,72.8V92h16V74c0-9.71,7.2-18,16-18h80L112,24z")
                    svg(focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
                        path(d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z")
            .header-search__account
                svg.burger(style="width:24px;height:24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
                    path(d="M0 0h24v24H0z" style="fill:none")
                    path(d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" style="fill:#5e5e5e")
                svg.gb_E(viewBox="0 0 24 24" focusable="false")
                    path(d="M6,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM16,6c0,1.1 0.9,2 2,2s2,-0.9 2,-2 -0.9,-2 -2,-2 -2,0.9 -2,2zM12,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2z")
                    image(src="https://ssl.gstatic.com/gb/images/bar/al-icon.png" alt="" height="24" width="24" style="border:none;display:none \9")
                .header-search__account-user A
    main
        nav.filters-google
            .container-google
                .filters-google__wrapper
                    div Усі
                    div Зображення
                    div Покупки
                    div Відео
                    div Новини
                    div Книги
                    div Вебсторінки
                    span.dots
                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false")
                            path(d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" style="fill:#70757a")
                    div Більше
                    div Інструменти
        section.result-google
            .container-google
                .result-google__wrapper
                    //1
                    div.result-google__item
                        div.result-google__item-link
                            svg.result-google__item-link-svg1(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false")
                                path(d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 17.93c-3.95-.49-7-3.85-7-7.93 0-.62.08-1.21.21-1.79L9 15v1c0 1.1.9 2 2 2v1.93zm6.9-2.54c-.26-.81-1-1.39-1.9-1.39h-1v-3c0-.55-.45-1-1-1H8v-2h2c.55 0 1-.45 1-1V7h2c1.1 0 2-.9 2-2v-.41c2.93 1.19 5 4.06 5 7.41 0 2.08-.8 3.97-2.1 5.39z")
                            div.result-google__item-link-text
                                p.result-google__item-link-text-domain pin-up.ua
                                a.result-google__item-link-text-link https://pin-up.ua
                            svg.result-google__item-link-svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false")
                                path(d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" style="fill:#70757a")
                        a.result-google__item-title(href="#")
                            | Офіційна заява української ліцензійної гемблінг-компанії ...
                        p.result-google__item-description
                            | PIN-UP Ukraine — українське онлайн-#[span.bold казино], яке одним з перших в Україні отримало ліцензію на діяльність. Ліцензія на організацію та проведення азартних ігор ...
                        .result-google__item-categories.categories
                            //.categories-item
                            //    a.categories-item-link(href="#") Слот
                            //    p.categories-item-info Pin-Up казино – это игровая платформа принципиально ...
                            //.categories-item
                            //    a.categories-item-link(href="#") Новинки
                            //    p.categories-item-info Сайт казино Pin-Up предоставляет украинским ...
                            //.categories-item
                            //    a.categories-item-link(href="#") Бонусные
                            //    p.categories-item-info Играй в лучшие бонусные слоты в казино Pin-Up ...
                            //.categories-item
                            //    a.categories-item-link(href="#") Регистрация
                            //    p.categories-item-info Быстрая регистрация на Pin-Up Получи до 200 000 ₴ и 250 FS ...
                            //.categories-item
                            //    a.categories-item-link(href="#") Карты
                            //    p.categories-item-info Итого Pin Up распахивает перед посетителями обширную ...
                            //.categories-more Інші результати з домену pin-up.ua »

                    //2
                    div.result-google__item
                        div.result-google__item-link
                            .result-google__item-link-img
                                img(src='img/gtf-logo.png' alt='Pin up')
                            div.result-google__item-link-text
                                p.result-google__item-link-text-domain gtf.in.ua
                                a.result-google__item-link-text-link https://gtf.in.ua
                            svg.result-google__item-link-svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false")
                                path(d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" style="fill:#70757a")
                        a.result-google__item-title(href="#")
                            | Пінап казино онлайн — грати в ігрові автомати в Україні
                        p.result-google__item-description
                            | Огляд #[span.bold казино] Pin Up. Оператор надає можливість грати в онлайн #[span.bold казино]. Ігри включають слоти, покер, рулетку, блекджек та інші. Завдяки Live дилерам, кожен може ...
                    //3
                    div.result-google__item
                        div.result-google__item-link
                            .result-google__item-link-img
                                img(src='img/guculy-logo.png' alt='Pin up')
                            div.result-google__item-link-text
                                p.result-google__item-link-text-domain guculy.com.ua
                                a.result-google__item-link-text-link https://guculy.com.ua
                            svg.result-google__item-link-svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false")
                                path(d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" style="fill:#70757a")
                        a.result-google__item-title(href="#")
                            | Pin UP Официальный сайт ᐉ Казино Пин Ап Онлайн ...
                        p.result-google__item-description
                            | В Pin-up #[span.bold казино] вы найдёте слоты на любую тематику, от классических "Фруктов" и "777" до "Египетских" и "Мифологических" приключений. Это разнообразие делает ...
                    //4
                    div.result-google__item
                        div.result-google__item-link
                            .result-google__item-link-img
                                img(src='img/pin-up-logo.png' alt='Pin up')
                            div.result-google__item-link-text
                                p.result-google__item-link-text-domain textilhouse.com.ua
                                a.result-google__item-link-text-link https://textilhouse.com.ua #[span › ... › 🎰 Отримати бонус]
                            svg.result-google__item-link-svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false")
                                path(d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" style="fill:#70757a")
                        a.result-google__item-title(href="#")
                            | Казино Пін Ап ᐈ Вхід, Офіційний сайт [2025] Ігрові автомати
                        p.result-google__item-description
                            | Ліцензійне онлайн-#[span.bold казино Пін ап] в Україні ⚡ Вхід, Офіційний сайт ⚡ Грати в слоти Pin up на реальні гроші ⭐️ Реєструйся в Pin-up та отримуй до 350 FS.

                    //5
                    div.result-google__item
                        div.result-google__item-link
                            .result-google__item-link-img
                                img(src='img/pin-up-logo.png' alt='Pin up')
                            div.result-google__item-link-text
                                p.result-google__item-link-text-domain sl-smila.in.ua
                                a.result-google__item-link-text-link https://sl-smila.in.ua #[span › ... › 🎁 Отримай бонуси]
                            svg.result-google__item-link-svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false")
                                path(d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" style="fill:#70757a")
                        a.result-google__item-title(href="#")
                            | Пін Ап казино ᐉ Вхід & Реєстрація || Ігрові автомати на ...
                        p.result-google__item-description
                            | Ліцензійне онлайн #[span.bold казино Пін ап] Україна ⚡ Ігрові автомати Pin-UP на реальні гроші ⭐ Грати в казино Пінап на реальні гроші або безкоштовно.
                    //6
                    div.result-google__item
                        div.result-google__item-link
                            .result-google__item-link-img
                                img(src='img/instagram-logo.png' alt='Pin up')
                            div.result-google__item-link-text
                                p.result-google__item-link-text-domain Instagram
                                a.result-google__item-link-text-link https://www.instagram.com #[span › pinup.ukraine]
                            svg.result-google__item-link-svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false")
                                path(d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" style="fill:#70757a")
                        a.result-google__item-title(href="#")
                            | PIN-UP.UA 🇺🇦 (@pinup.ukraine)
                        p.result-google__item-description
                            | pinup.ukraine. PIN-UP.UA. Нативно в інстаграм Офіційна українська ліцензія 🌪️ Топові меми, ігри, акції та розіграші. Твій бонус ⤵️.
                    //fiq
                    //div.result-google__fiq
                    //    .result-google__fiq-title
                    //        | Схожі запитання
                    //        svg.result-google__fiq-svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false")
                    //            path(d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" style="fill:#1f1f1f")
                    //    .result-google__fiq-questions
                    //        .q
                    //            .q-txt Как зайти в Пин Ап?
                    //            .q-img
                    //        .q
                    //            .q-txt Что с Pin Up?
                    //            .q-img
                    //        .q
                    //            .q-txt Какой официальный сайт Pin App Casino?
                    //            .q-img
                    //        .q
                    //            .q-txt Как скачать Пин Ап?
                    //            .q-img

                    //7
                    div.result-google__item
                        div.result-google__item-link
                            .result-google__item-link-img
                                img(src='img/youtube.svg' alt='Youtube')
                            div.result-google__item-link-text
                                p.result-google__item-link-text-domain YouTube
                                a.result-google__item-link-text-link https://www.youtube.com #[span › watch]
                            svg.result-google__item-link-svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false")
                                path(d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" style="fill:#70757a")
                        a.result-google__item-title(href="#")
                            | РОСІЙСЬКИЙ СЛІД PIN-UP: як «українське» онлайн-казино ...
                        .result-google__item-description.youtube
                            .result-google__item-description-img
                                img(src='img/youtube-screen.png' alt='Youtube')
                            .result-google__item-description-txt
                                | На SHARK для 54 бригади: https://send.monobank.ua/jar/6k2wVW1iF6 #[br]
                                | Попри повномасштабну війну, у нас досі легально працюють онлайн- ...
                    //8
                    div.result-google__item
                        div.result-google__item-link
                            .result-google__item-link-img
                                img(src='img/pin-up-logo.png' alt='Pin up')
                            div.result-google__item-link-text
                                p.result-google__item-link-text-domain rooki.com.ua
                                a.result-google__item-link-text-link https://rooki.com.ua
                            svg.result-google__item-link-svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false")
                                path(d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" style="fill:#70757a")
                        a.result-google__item-title(href="#")
                            | Pin up Казино в Україні | Офіційний сайт Пин ап Вхід
                        p.result-google__item-description
                            | Pin up #[span.bold Казино] дає вам можливість грати на більшості слотів у демонстраційному режимі для мікросхем без реєстрації. Але щоб зробити ставку за гроші, вам потрібно ...
                    //9
                    div.result-google__item
                        div.result-google__item-link
                            .result-google__item-link-img
                                img(src='img/vip-bus-logo.png' alt='Pin up')
                            div.result-google__item-link-text
                                p.result-google__item-link-text-domain vip-bus.com.ua
                                a.result-google__item-link-text-link https://vip-bus.com.ua
                            svg.result-google__item-link-svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false")
                                path(d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" style="fill:#70757a")
                        a.result-google__item-title(href="#")
                            | Pin Up казино онлайн ⇒ Грайте в ігрові автомати на гроші ...
                        p.result-google__item-description
                            | #[span.bold Пін Ап казино] – ігрові автомати на гроші ; Мінімальний розмір депозиту, 100 гривень ; Софт, для iOS і Android ; Бонус для нових гравців, до 200000 гривень + до 250 ...
                    //10
                    div.result-google__item
                        div.result-google__item-link
                            .result-google__item-link-img
                                img(src='img/prointernet-logo.png' alt='Pin up')
                            div.result-google__item-link-text
                                p.result-google__item-link-text-domain prointernet.in.ua
                                a.result-google__item-link-text-link https://www.prointernet.in.ua #[span › casino › pin-up]
                            svg.result-google__item-link-svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false")
                                path(d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" style="fill:#70757a")
                        a.result-google__item-title(href="#")
                            | Пін Ап казино в Україні: Вхід, Ігрові автомати Pin Up Casino ...
                        p.result-google__item-description
                            | 23 груд. 2024р. — Pin Up #[span.bold Casino] – топове онлайн #[span.bold казино] в Україні ⚡ Ігрові автомати для гри в інтернеті ⚡ Кращі бонуси депозиті і бездепозитні #[span.bold Пін Ап Казино].

        section.also-google
            .container-google
                .also-google__wrapper
                    .also-google__title
                        | Люди також шукають
                        svg(focusable="false", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 24 24")
                            path(d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zM12 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z")
                    .also-google__pictures
                        a.also-google__pictures-item(href="#")
                            img(src='img/777.jpg' alt='777')
                            span 777
                        a.also-google__pictures-item(href="#")
                            img(src='img/slotoking.png' alt='slotoking')
                            span betking
                        a.also-google__pictures-item(href="#")
                            img(src='img/favbet-casino.png' alt='favbet')
                            span Favbet Casino
                    .also-google__line
                        .also-google__line-line
                        span.also-google__line-txt Відгук
                    .also-google__box
                        .also-google__box-item
                            | pin-up casino вход
                            svg(focusable="false", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 24 24")
                                path(d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z")
                        .also-google__box-item
                            | promo code pin-up
                            svg(focusable="false", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 24 24")
                                path(d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z")
                        .also-google__box-item
                            | pin-up casino вход в личный кабинет
                            svg(focusable="false", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 24 24")
                                path(d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z")
                        .also-google__box-item
                            | pin-up demo
                            svg(focusable="false", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 24 24")
                                path(d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z")
                        .also-google__box-item
                            | pin-up team
                            svg(focusable="false", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 24 24")
                                path(d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z")
                        .also-google__box-item
                            | VBET
                            svg(focusable="false", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 24 24")
                                path(d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z")
                        .also-google__box-item
                            | що таке пін-ап
                            svg(focusable="false", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 24 24")
                                path(d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z")
                        .also-google__box-item
                            | pin-up monkey
                            svg(focusable="false", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 24 24")
                                path(d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z")
                .also-google__more
                    img(src='img/google-bottom.png' alt='Google')

        section.more-google
            div.more-google__wrapper
                | Більше результатів пошуку
                svg(focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
                    path(d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z")

    footer.footer-google
        .container-google
            p.footer-google__top Результати персоналізуються - #[span Спробувати без персоналізації]
            .footer-google__wrapper
                .footer-google__country Україна
                .footer-google__city-info Київ #[span - На основі ваших попередніх дій - Оновити місцезнаходження]
            .footer-google__info
                a.footer-google__info-item Довідка
                a.footer-google__info-item Надіслати відгук
                a.footer-google__info-item Конфіденційність
                a.footer-google__info-item Умови
            .footer-google__wrapper-mob
                .footer-google-mob__country Україна
                .footer-google-mob__city-info
                    | #[span Київ] - На основі ваших попередніх дій
                .footer-google-mob__city-info
                    | Оновити місцезнаходження
            .footer-google__info-mob
                a.footer-google__info-item Довідка
                a.footer-google__info-item Відгук
                a.footer-google__info-item Конфіденційність
                a.footer-google__info-item Умови
